node_modules
dist
build

# git
.git
.gitignore

# env / secrets
.env
.env.*
!.env.example

# logs
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# tests / coverage
coverage
.nyc_output
test

# editors / OS
.vscode
.idea
.DS_Store

# misc
.temp
.tmp
README.md
Dockerfile
.dockerignore
